<!DOCTYPE html>
<html>
  <head>
    <title>Websters Revised Unabridged Dictionary 1913</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script>
    </script>
  </head>
  <body>
      <h1>Websters Revised Unabridged Dictionary 1913</h1>
      <div>
        <form>
          <input type="text" name="word"></input>
	  <input type="submit"></input>
        </form>
	<div>
          {{.Result}}
          {{ if .Random }}
            <p>Here are some random words to try</p>
            {{range .Random}}
              <div>
                <a href="?word={{.}}">{{.}}</a>
              </div>
            {{end}}
          {{end}}
        </div>
      </div>
  </body>
</html>
